<footer class="banner">
  <div class="footer__content pure-g">
    <div class="pure-u-1 pure-u-md-1-2">

      <p class="footer__content__copyright">
        <!-- <span>
          <a href="https://allenai.org/privacy-policy.html">Privacy Policy</a>
          &nbsp;|&nbsp;
          <a href="https://allenai.org/terms.html">Terms and Conditions</a>
        </span> -->
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="footer__content__nav">
        <div class="footer__content__nav__secondary-nav">
        </div>
      </div>
    </div>
  </div>
</footer>
